# Common files and dirs
.DS_Store
.DS_Store?
.htpasswd
.phpunit.result.cache
.Trashes
*.sqlite*
*.sqlite-journal
Thumbs.db
docker-compose.override.yml
Homestead.json
Homestead.yaml
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode

# Lock files
composer.lock
package-lock.json
pnpm-lock.yaml
yarn.lock

# debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
~.env.production
.env.*
!.env.example

# Storage symlink
/storage/minio/*
!/storage/minio/.gitkeep
public/mix-manifest.json
public/assets/
public/avatars/
public/css/
public/fonts/
public/images/
public/js/
public/storage
!*/public/storage
