* text=auto

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
*.js linguist-vendored

/.github export-ignore
changelog.md export-ignore
readme.md export-ignore
license.txt export-ignore
