/node_modules
/public/css
/public/fonts
/public/hot
/public/img
/public/js
/public/storage
/public/vendor
/storage/*.key
/storage/tmp
/vendor

/public/mix-manifest.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.sqlite
.env

composer.lock
package-lock.json
yarn.lock
