/*   Fonts taken from: http://www.cufonfonts.com   */

/* ------------------------------------------- Font weight 100 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 100;

  font-display: swap;

  src: local('Inter Thin BETA'), url(/fonts/Inter-Thin.woff?afa43f73396191a91481fe684084beca) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 100;

  font-display: swap;

  src: local('Inter Thin Italic BETA'), url(/fonts/Inter-ThinItalic.woff?b53ead3aa2a8cb08d4c08c82f34625a1) format('woff');
}

/* ------------------------------------------- Font weight 200 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 200;

  font-display: swap;

  src: local('Inter Extra Light BETA'), url(/fonts/Inter-ExtraLight.woff?7fdc10980cffeaf49bf6750b7d0b8651) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 200;

  font-display: swap;

  src: local('Inter Extra Light Italic BETA'), url(/fonts/Inter-ExtraLightItalic.woff?09ba9d55ee78e2dde20b0a66b4b2e77c) format('woff');
}

/* ------------------------------------------- Font weight 300 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 300;

  font-display: swap;

  src: local('Inter Light BETA'), url(/fonts/Inter-Light.woff?2ff55d31b8db224390deef9941295cba) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 300;

  font-display: swap;

  src: local('Inter Light Italic BETA'), url(/fonts/Inter-LightItalic.woff?67f9e6c1beb2e5ae0c250339976e3a09) format('woff');
}

/* ------------------------------------------- Font weight 400 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 400;

  font-display: swap;

  src: local('Inter Regular'), url(/fonts/Inter-Regular.woff?3de4f43fdebbce1657f22ae0f4255b21) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 400;

  font-display: swap;

  src: local('Inter Italic'), url(/fonts/Inter-Italic.woff?4722018a7f9ae421db3c78e9d905f02f) format('woff');
}

/* ------------------------------------------- Font weight 500 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 500;

  font-display: swap;

  src: local('Inter Medium'), url(/fonts/Inter-Medium.woff?e03c0ca5d884e95176c116eaae7b4098) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 500;

  font-display: swap;

  src: local('Inter Medium Italic'), url(/fonts/Inter-MediumItalic.woff?281925df3a01f37ae8339e869b5b4bae) format('woff');
}

/* ------------------------------------------- Font weight 600 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 600;

  font-display: swap;

  src: local('Inter Semi Bold'), url(/fonts/Inter-SemiBold.woff?34489dd47473bf485abb4c8724845b7c) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 600;

  font-display: swap;

  src: local('Inter Semi Bold Italic'), url(/fonts/Inter-SemiBoldItalic.woff?9246acc9218487267a9c8e8a228e0713) format('woff');
}

/* ------------------------------------------- Font weight 700 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 700;

  font-display: swap;

  src: local('Inter Bold'), url(/fonts/Inter-Bold.woff?00dc41b74c73bd548602fafdb951e354) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 700;

  font-display: swap;

  src: local('Inter Bold Italic'), url(/fonts/Inter-BoldItalic.woff?a904cde5bbd069b11a9248e38af2e993) format('woff');
}

/* ------------------------------------------- Font weight 800 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 800;

  font-display: swap;

  src: local('Inter Extra Bold'), url(/fonts/Inter-ExtraBold.woff?64fb1a677308ca97dc657f6f4168bc9b) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 800;

  font-display: swap;

  src: local('Inter Extra Bold Italic'), url(/fonts/Inter-ExtraBoldItalic.woff?4863fd0fadf06943759135413af8f277) format('woff');
}

/* ------------------------------------------- Font weight 900 -------------------------------------------  */

@font-face {
  font-family: 'Inter';

  font-style: normal;

  font-weight: 900;

  src: local('Inter Black'), url(/fonts/Inter-Black.woff?d61d35be8a792e1ed278579bd45bcf6a) format('woff');
}

@font-face {
  font-family: 'Inter';

  font-style:Italic;

  font-weight: 900;

  src: local('Inter Black Italic'), url(/fonts/Inter-BlackItalic.woff?04ab4e7eec79221607b49451aaa0a3a6) format('woff');
}



