/*   Fonts taken from: http://www.cufonfonts.com   */

/* ------------------------------------------- Font weight 100 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local('Robert Sans Thin'), url('RobertSans-Thin.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: local('Robert Sans Thin Italic'), url('RobertSans-ThinItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 200 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: local('Robert Sans ExtraLight'), url('RobertSans-ExtraLight.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: local('Robert Sans ExtraLight Italic'), url('RobertSans-ExtraLightItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 300 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Robert Sans Light'), url('RobertSans-Light.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Robert Sans Light Italic'), url('RobertSans-LightItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 400 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Robert Sans Regular'), url('RobertSans-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Robert Sans Italic'), url('RobertSans-Italic.woff') format('woff');
}

/* ------------------------------------------- Font weight 500 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Robert Sans Medium'), url('RobertSans-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: local('Robert Sans Medium Italic'), url('RobertSans-MediumItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 600 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Robert Sans SemiBold'), url('RobertSans-SemiBold.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Robert Sans SemiBold Italic'), url('RobertSans-SemiBoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 700 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Robert Sans Bold'), url('RobertSans-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Robert Sans Bold Italic'), url('RobertSans-BoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 800 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Robert Sans ExtraBold'), url('RobertSans-ExtraBold.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Robert Sans ExtraBold Italic'), url('RobertSans-ExtraBoldItalic.woff') format('woff');
}

/* ------------------------------------------- Font weight 900 -------------------------------------------  */
@font-face {
  font-family: 'Robert Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Robert Sans Black'), url('RobertSans-Black.woff') format('woff');
}

@font-face {
  font-family: 'Robert Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Robert Sans Black Italic'), url('RobertSans-BlackItalic.woff') format('woff');
}
