/* Hide annoying Google reCAPTCHA v3 Badge */
.grecaptcha-badge { visibility: hidden; }

/* Responsive YouTube Videos
  <div class="youtube-video-wrapper">
      <iframe class="youtube-video" src="https://www.youtube.com/embed/eYI69qnSKiU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
*/
.youtube-video-wrapper {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}
.youtube-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
